<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Players</title>
  </head>
  <body>
    <a href="/">Home</a>

    <div style="margin-top: 10px;">
      <input type="text" id="search">
      <button id="search-button">Search</button>
    </div>

    {% for player in players %}
    <div style="border: 1; border-style: solid; margin: 10px; padding: 10px;">
      <p>{{ player.Name }}</p>
      <p>{{ player.Team }}</p>
      <a href="/player/{{ player.Name }}">See Detail</a>
    </div>
    {% endfor %}

    <script>
      const searchInput = document.getElementById('search');
      const searchButton = document.getElementById('search-button');

      searchButton.addEventListener('click', () => {
        const query = searchInput.value;
        if (query) {
          window.location.href = `/player/${query}`;
        } else {
          window.location.href = '/players';
        }
      });

    </script>

  </body>
</html>
